# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
*.venv
env/

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Misc
.DS_Store

# Configuration
config.yaml
